@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root{
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --blue-color: rgb(15, 109, 168);
  --light-color: #fff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

a{
  padding:4px;
  text-decoration: none;
  color: var(--dark-color)
}
.wrapper{
  min-height: 100vh;
  background-color: var(--dark-color);
}
.wrapper .container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/************LOGO STYLING**********/
.logo{
  padding: 1rem 0;
  border-bottom: 1px solid var(--light-color);
}
.logo h1{
  font-size: 2rem;
  color:var(--light-color);
  font-weight: bold;
}
.logo h1 span{
 color: var(--blue-color);
}

/***********FORM STYLING**********/
.search-container{
  background-color:var(--blue-color);
  height: 180px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-field{
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.form-control{
  padding: 2px;

}
.searchForm{
  color: white;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  
  margin: auto;
  display: flex;
  justify-content: center;
}
.searchForm *{
  box-sizing: border-box;
  line-height: 1.5; 
  align-self: center;
}

.submit-button{
  position: relative;
  margin-top: 1.2rem;
  background-color: var(--dark-color);
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 10px;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.submit-button:hover {
  transition-duration: 0.1s;
  color: var(--blue-color);
  background-color: var(--light-color);
}


.submit-button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.submit-button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.submit-button:active {
  top: 1px;
}


.note{
  color: #fff;
  font-size: 12px;
  padding: 5px;
}

/********MOVIE RESULTS STYLING**************/

.movie-results {
  padding: 3rem 0;
  text-align: center;
  color:#fff;
  padding-top: 3rem;
  
}
.movie-title{
  text-transform: uppercase;
  padding-top:0.67rem;
  font-size: 2rem;
  color: var(--blue-color);
  font-weight: 700;
}

.movie-main-details{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;

}
#year {
  font-weight: 500;
}

#rated{
  background-color: var(--blue-color);
  display: inline-block;
  margin: 0 0.4rem;
  border-radius: 4px;
  font-weight: 600;
}

.released{
  font-size: 0.9rem;
  opacity: 0.9;
}

#actors{
  background-color: var(--light-dark-color);
  display: inline-block;
  border-radius: 4px;
  padding: 0.5rem;

}
.plot{
  max-width: 400px;
  margin: 1rem auto;
}
.poster-img{
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border: 4px solid #fff;
}

